<br>
<center><h2>List of Sellers </h2></center>
<div class='col-md-6 offset-md-3'>
  <table class= 'table table-bordered'>
    <tr>
      <th>Sellers</th>
      <th>Type</th>
    </tr>

    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.first_name %></td>
        <td><%= seller.seller_type%></td>
      </tr>
    <% end %>
  </table>
</div>